*{
    margin:0;
    padding:0;
}
html{
    width:100%;
    height:100%;
}
h1{
    font-family: 'Bungee Shade';
    color: #082746ff;
    text-align: center;
}
h2{
    font-family: 'Bungee Inline';
    text-align:center;
    color: #082746ff;
    font-weight:lighter;
}

/*Hiding modal by default*/ 

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modalContent {
    display:flex;
    justify-content: space-around;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */

    
}
#modalContent h2{
    margin-top:auto;
    margin-bottom:auto;
}
#newGame{
    padding:1em;
    font-family: 'Bungee Inline';
    color:#082746ff;
    font-size:20px;
    background-color:transparent;
    border:2px solid #082746ff;
    
}

#newGame:active{
    background-color:#082746ff;
    color:white;
}


/* Hiding p2 by default, to change players after */ 
#player1{
    display:block;
    height:1.5em;
    width:10em;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    color:#e10c00ff;
    border: 2px dotted #082746ff;
    text-align:center;
    font-family:'Bungee';
}

#player2{
    display:none;
    height:1.5em;
    width:10em;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    color:#ffb000ff;
    border: 2px dotted #082746ff;
    text-align:center;
    font-family:'Bungee';
}

/* Apply sizes to container */ 

#container{
    height:80%;
    width:100%;
}
/* Styling grid*/ 


table{
    display:table;
    flex-wrap:wrap;
    /* Apply margins to center the grid */
    margin-left: auto;
    margin-right: auto;
    /* Define width/height of the grid*/ 
    width:350px;
    height:350px;
    background-color:#082746ff;
    border-color:white;
    border-spacing: 2px;
}
tbody{
    display:table;
    height:100%;
    width:100%;
}
td{
    display:table-cell;
    height:1em;
    width:1em;
    background-color:white;
    border-radius: 50%;
}
.row{
    height:14.28%;
    width:100%;
}

/* Styling cell to make them look like circles */ 



@media screen and (min-width: 992px){
    h1{
        font-size:3em;
    }
    #containerTurn h2{
        font-size:2em;
    }

    #modalContent{
        width:30%;
    }

    table{
        width:40em;
        height:40em;
    }
}

